
<!--- base.html -->

{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}

      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
      {% endblock %}

      <title>{% block title %}{% block name %}{% endblock %} LA Times Photographic Index Search Tool{% endblock %}</title>

      {% block style %}
      {% endblock %}

      {% block style_extra %}
      {% endblock %}

<header><a href="/">
<h1><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Los_Angeles_Times.svg/2000px-Los_Angeles_Times.svg.png" height="50px"><img class="pull-right col-s-4" src="https://www.library.ucla.edu/sites/all/themes/uclalib_omega/logo.svg" height=30px/><br><font face="Courier New">Photographic Index Search Tool</font></h1>
</a></header>
    {% endblock %}
  </head>
  {% block body %}
  <body class="{% block bodyclass %}{% endblock %}">

    <div class="wrapper">
      {% block navbar %}
        <div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
          <div class="container pull-left">
            <span>
            </span>
            <ul class="nav navbar-nav">
              <li>
                <ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/find">Keyword</a></li>
  <li><a href="/advsearch">Advanced</a></li>
  <li><a href="/browse">Browse</a></li>
  <li><a href="/contact">Contact</a></li>
</ul>

              </li>
            </ul>
          </div>
        </div>
      {% endblock %}

      {% block content %}
      {% endblock %}


    </div><!-- ./wrapper -->
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="static/js/search_code.js"></script>
  <script src="static/js/jquery.autocomplete.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </body>
  {% endblock %}
</head>
<body>


</body>
</html>