<html>
{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}
    <form action="" method="get">
            <div class="form-group">
              <input type="text" class="form-control" name="q" placeholder="Enter Search Query">
            </div>
          </form>

	{% if "q" in request.GET %}

      <h3>Found <span class="badge">{{ page_obj.paginator.count }}</span> result{{ page_obj.paginator.count|pluralize }} containing "{{ request.GET.q }}"</h3>

      {% elif "q" not in request.GET %}

      <h3><span class="badge">{{ page_obj.paginator.count }}</span> Record{{ page_obj.paginator.count|pluralize }} </h3>
    {% endif %}
<table class="table">
{% if "q" in request.GET %}
      <tr>
        <th><a href="?q={{request.GET.q}}&{% if request.GET.sortBy == 'SubjectName'%}sortBy=-SubjectName{% else %}sortBy=SubjectName{% endif %}">{% if request.GET.sortBy == 'SubjectName' %}Subject Name&#9660;{% elif request.GET.sortBy == '-SubjectName' %}Subject Name&#9650;{% else %}Subject Name{% endif %}</a></th>
        <th><a href="?q={{request.GET.q}}&{% if request.GET.sortBy == 'SubjectDescription'%}sortBy=-SubjectDescription{% else %}sortBy=SubjectDescription{% endif %}">{% if request.GET.sortBy == 'SubjectDescription' %}Subject Description&#9660;{% elif request.GET.sortBy == '-SubjectDescription' %}Subject Description&#9650;{% else %}Subject Description{% endif %}</th>
        <th><a href="?q={{request.GET.q}}&{% if request.GET.sortBy == 'PhotoDescription'%}sortBy=-PhotoDescription{% else %}sortBy=PhotoDescription{% endif %}">{% if request.GET.sortBy == 'PhotoDescription' %}Photo Description&#9660;{% elif request.GET.sortBy == '-PhotoDescription' %}Photo Description&#9650;{% else %}Photo Description{% endif %}</th>
        <th><a href="?q={{request.GET.q}}&{% if request.GET.sortBy == 'BoxNumber'%}sortBy=-BoxNumber{% else %}sortBy=BoxNumber{% endif %}">{% if request.GET.sortBy == 'BoxNumber' %}Box Number&#9660;{% elif request.GET.sortBy == '-BoxNumber' %}Box Number&#9650;{% else %}Box Number{% endif %}</th>
        <th><a href="?q={{request.GET.q}}&{% if request.GET.sortBy == 'Quantity'%}sortBy=-Quantity{% else %}sortBy=Quantity{% endif %}">{% if request.GET.sortBy == 'Quantity' %}Quantity&#9660;{% elif request.GET.sortBy == '-Quantity' %}Quantity&#9650;{% else %}Quantity{% endif %}</th>
        <th><a href="?q={{request.GET.q}}&{% if request.GET.sortBy == 'Negative'%}sortBy=-Negative{% else %}sortBy=Negative{% endif %}">{% if request.GET.sortBy == 'Negative' %}Negative&#9660;{% elif request.GET.sortBy == '-Negative' %}Negative&#9650;{% else %}Negative{% endif %}</th>
        <th><a href="?q={{request.GET.q}}&{% if request.GET.sortBy == 'Date'%}sortBy=-Date{% else %}sortBy=Date{% endif %}">{% if request.GET.sortBy == 'Date' %}Date&#9660;{% elif request.GET.sortBy == '-Date' %}Date&#9650;{% else %}Date{% endif %}</th>
      </tr>
{% elif "q" not in request.GET %}
      <tr>
        <th><a href="?{% if request.GET.sortBy == 'SubjectName'%}sortBy=-SubjectName{% else %}sortBy=SubjectName{% endif %}"">{% if request.GET.sortBy == 'SubjectName' %}Subject Name&#9660;{% elif request.GET.sortBy == '-SubjectName' %}Subject Name&#9650;{% else %}Subject Name{% endif %}</a></th>
        <th><a href="?{% if request.GET.sortBy == 'SubjectDescription'%}sortBy=-SubjectDescription{% else %}sortBy=SubjectDescription{% endif %}">{% if request.GET.sortBy == 'SubjectDescription' %}Subject Description&#9660;{% elif request.GET.sortBy == '-SubjectDescription' %}Subject Description&#9650;{% else %}Subject Description{% endif %}</th>
        <th><a href="?{% if request.GET.sortBy == 'PhotoDescription'%}sortBy=-PhotoDescription{% else %}sortBy=PhotoDescription{% endif %}">{% if request.GET.sortBy == 'PhotoDescription' %}Photo Description&#9660;{% elif request.GET.sortBy == '-PhotoDescription' %}Photo Description&#9650;{% else %}Photo Description{% endif %}</th>
        <th><a href="?{% if request.GET.sortBy == 'BoxNumber'%}sortBy=-BoxNumber{% else %}sortBy=BoxNumber{% endif %}">{% if request.GET.sortBy == 'BoxNumber' %}Box Number&#9660;{% elif request.GET.sortBy == '-BoxNumber' %}Box Number&#9650;{% else %}Box Number{% endif %}</th>
        <th><a href="?{% if request.GET.sortBy == 'Quantity'%}sortBy=-Quantity{% else %}sortBy=Quantity{% endif %}">{% if request.GET.sortBy == 'Quantity' %}Quantity&#9660;{% elif request.GET.sortBy == '-Quantity' %}Quantity&#9650;{% else %}Quantity{% endif %}</th>
        <th><a href="?{% if request.GET.sortBy == 'Negative'%}sortBy=-Negative{% else %}sortBy=Negative{% endif %}">{% if request.GET.sortBy == 'Negative' %}Negative&#9660;{% elif request.GET.sortBy == '-Negative' %}Negative&#9650;{% else %}Negative{% endif %}</th>
        <th><a href="?{% if request.GET.sortBy == 'Date'%}sortBy=-Date{% else %}sortBy=Date{% endif %}">{% if request.GET.sortBy == 'Date' %}Date&#9660;{% elif request.GET.sortBy == '-Date' %}Date&#9650;{% else %}Date{% endif %}</th>
      </tr>
  {% endif %} 
      {% if object_list %}
        {% for card in object_list %}
        <tr>
          <td>{{card.SubjectName}}</td>
          <td>{{card.SubjectDescription}}</td>
          <td>{{card.PhotoDescription}}</td>
          <td><a href="/box?box={{card.BoxNumber}}">{{card.BoxNumber}}</a></td>
          {% for box in card.split_box %} <a href="/box?box={{card.box}}">{{card.box}} {% endfor %}
          <td>{{card.Quantity}}</td>
          <td>{{card.Negative}}</td>
          <td><a href="/date?year={{card.Year}}&month={{card.Month}}&day={{card.Day}}">{{card.date}}</a></td>
        </tr>
        {% endfor %}
		{% elif results_list %}
        {% for card in results_list %}
          <tr>
          <td>{{card.SubjectName}}</td>
          <td>{{card.SubjectDescription}}</td>
          <td>{{card.PhotoDescription}}</td>
          <td><a href="/box?box={{card.BoxNumber}}">{{card.BoxNumber}}</a></td>
          <td>{{card.Quantity}}</td>
          <td>{{card.Negative}}</td>
          <td><a href="/date?year={{card.Year}}&month={{card.Month}}&day={{card.Day}}">{{card.date}}</a></td>
          </tr>
        {% endfor %}
      {% endif %}      
    
    </table>
    <div class="text-center">
        <ul class="pagination pagination-sm">
        {% if "q" in request.GET and 'sortBy' in request.GET %}
            {% if page_obj.number >= 5 %}
            <li><a href="?q={{request.GET.q}}&sortBy={{request.GET.sortBy}}&page=1">1</a></li>
            <li><span>...</span></li>
            {% elif page_obj.number == 4 %}
            <li><a href="?q={{request.GET.q}}&sortBy={{request.GET.sortBy}}&page=1">1</a></li>
            {% endif %}
            {% if page_obj.number|add:"-2" >= 1  %}
            <li><a href="?q={{request.GET.q}}&sortBy={{request.GET.sortBy}}&page={{ page_obj.number|add:"-2" }}">{{ page_obj.number|add:"-2" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"-1" >= 1  %}
            <li><a href="?q={{request.GET.q}}&sortBy={{request.GET.sortBy}}&page={{ page_obj.number|add:"-1" }}">{{ page_obj.number|add:"-1" }}</a></li>
            {% endif %}
            <li class="active"><a href="?q={{request.GET.q}}&sortBy={{request.GET.sortBy}}&page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            {% if page_obj.number|add:"1" <= paginator.num_pages  %}
            <li><a href="?q={{request.GET.q}}&sortBy={{request.GET.sortBy}}&page={{ page_obj.number|add:"1" }}">{{ page_obj.number|add:"1" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"2" <= paginator.num_pages %}
            <li><a href="?q={{request.GET.q}}&sortBy={{request.GET.sortBy}}&page={{ page_obj.number|add:"2" }}">{{ page_obj.number|add:"2" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"2" <= paginator.num_pages|add:"-2" %}
            <li><span>...</span></li>
            <li><a href="?q={{request.GET.q}}&sortBy={{request.GET.sortBy}}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% elif page_obj.number|add:"1" <= paginator.num_pages|add:"-2" %}
            <li><a href="?q={{request.GET.q}}&sortBy={{request.GET.sortBy}}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% endif %}
        {% elif "q" in request.GET and 'sortBy' not in request.GET %}
            {% if page_obj.number >= 5 %}
            <li><a href="?q={{request.GET.q}}&page=1">1</a></li>
            <li><span>...</span></li>
            {% elif page_obj.number == 4 %}
            <li><a href="?q={{request.GET.q}}&page=1">1</a></li>
            {% endif %}
            {% if page_obj.number|add:"-2" >= 1  %}
            <li><a href="?q={{request.GET.q}}&page={{ page_obj.number|add:"-2" }}">{{ page_obj.number|add:"-2" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"-1" >= 1  %}
            <li><a href="?q={{request.GET.q}}&page={{ page_obj.number|add:"-1" }}">{{ page_obj.number|add:"-1" }}</a></li>
            {% endif %}
            <li class="active"><a href="?q={{request.GET.q}}&page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            {% if page_obj.number|add:"1" <= paginator.num_pages  %}
            <li><a href="?q={{request.GET.q}}&page={{ page_obj.number|add:"1" }}">{{ page_obj.number|add:"1" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"2" <= paginator.num_pages %}
            <li><a href="?q={{request.GET.q}}&page={{ page_obj.number|add:"2" }}">{{ page_obj.number|add:"2" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"2" <= paginator.num_pages|add:"-2" %}
            <li><span>...</span></li>
            <li><a href="?q={{request.GET.q}}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% elif page_obj.number|add:"1" <= paginator.num_pages|add:"-2" %}
            <li><a href="?q={{request.GET.q}}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% endif %}
        {% elif 'q' not in request.GET and 'sortBy' in request.GET %}
            {% if page_obj.number >= 5 %}
            <li><a href="?sortBy={{request.GET.sortBy}}&page=1">1</a></li>
            <li><span>...</span></li>
            {% elif page_obj.number == 4 %}
            <li><a href="?sortBy={{request.GET.sortBy}}&page=1">1</a></li>
            {% endif %}
            {% if page_obj.number|add:"-2" >= 1  %}
            <li><a href="?sortBy={{request.GET.sortBy}}&page={{ page_obj.number|add:"-2" }}">{{ page_obj.number|add:"-2" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"-1" >= 1  %}
            <li><a href="?sortBy={{request.GET.sortBy}}&page={{ page_obj.number|add:"-1" }}">{{ page_obj.number|add:"-1" }}</a></li>
            {% endif %}
            <li class="active"><a href="?sortBy={{request.GET.sortBy}}&page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            {% if page_obj.number|add:"1" <= paginator.num_pages  %}
            <li><a href="?sortBy={{request.GET.sortBy}}&page={{ page_obj.number|add:"1" }}">{{ page_obj.number|add:"1" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"2" <= paginator.num_pages %}
            <li><a href="?sortBy={{request.GET.sortBy}}&page={{ page_obj.number|add:"2" }}">{{ page_obj.number|add:"2" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"2" <= paginator.num_pages|add:"-2" %}
            <li><span>...</span></li>
            <li><a href="?sortBy={{request.GET.sortBy}}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% elif page_obj.number|add:"1" <= paginator.num_pages|add:"-2" %}
            <li><a href="?sortBy={{request.GET.sortBy}}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% endif %}
        {% elif 'q' not in request.GET and 'sortBy' not in request.GET %}
        {% if page_obj.number >= 5 %}
            <li><a href="?page=1">1</a></li>
            <li><span>...</span></li>
            {% elif page_obj.number == 4 %}
            <li><a href="?page=1">1</a></li>
            {% endif %}
            {% if page_obj.number|add:"-2" >= 1  %}
            <li><a href="?page={{ page_obj.number|add:"-2" }}">{{ page_obj.number|add:"-2" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"-1" >= 1  %}
            <li><a href="?page={{ page_obj.number|add:"-1" }}">{{ page_obj.number|add:"-1" }}</a></li>
            {% endif %}
            <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            {% if page_obj.number|add:"1" <= paginator.num_pages  %}
            <li><a href="?page={{ page_obj.number|add:"1" }}">{{ page_obj.number|add:"1" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"2" <= paginator.num_pages %}
            <li><a href="?page={{ page_obj.number|add:"2" }}">{{ page_obj.number|add:"2" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"2" <= paginator.num_pages|add:"-2" %}
            <li><span>...</span></li>
            <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% elif page_obj.number|add:"1" <= paginator.num_pages|add:"-2" %}
            <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% endif %}
            
            {% endif %}
        </ul>
    </div>
</body>

{% endblock %}
</html>