<html>
{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}

<table class="table">
        <tr>
        <th><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&sort=SubjectName">Subject Name</a></th>
        <th><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&sort=SubjectDescription">Subject Description</th>
        <th><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&sort=PhotoDescription">Photo Description</th>
        <th><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&sort=BoxNumber">Box Number</th>
        <th><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&sort=Quantity">Quantity</th>
        <th><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&sort=Negative">Negative Number</th>
        <th><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&sort=Date">Date</th>
      </tr>
      {% if object_list %}
        {% for card in object_list %}
        <tr>
          <td>{{card.SubjectName}}</td>
          <td>{{card.SubjectDescription}}</td>
          <td>{{card.PhotoDescription}}</td>
          <td><a href='/box?box={{card.BoxNumber}}'>{{card.BoxNumber}}</a></td>
          <td>{{card.Quantity}}</td>
          <td>{{card.Negative}}</td>
          <td>{{card.date}}</td>
        </tr>
        {% endfor %}
        {% elif results_list %}
        {% for card in results_list %}
          <tr>
            <td>{{card.SubjectName}}</td>
          <td>{{card.SubjectDescription}}</td>
          <td>{{card.PhotoDescription}}</td>
          <td><a href="/box?box={{card.BoxNumber}}">{{card.BoxNumber}}</a></td>
          <td>{{card.Quantity}}</td>
          <td>{{card.Negative}}</td>
          <td>{{card.date}}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
    <div class="text-center">
        <ul class="pagination pagination-sm">
            {% if 'sort' not in request.GET %}
            {% if page_obj.number >= 5 %}
            <li><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&page=1">1</a></li>
            <li><span>...</span></li>
            {% elif page_obj.number == 4 %}
            <li><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&page=1">1</a></li>
            {% endif %}
            {% if page_obj.number|add:"-2" >= 1  %}
            <li><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&page={{ page_obj.number|add:"-2" }}">{{ page_obj.number|add:"-2" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"-1" >= 1  %}
            <li><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&page={{ page_obj.number|add:"-1" }}">{{ page_obj.number|add:"-1" }}</a></li>
            {% endif %}
            <li class="active"><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            {% if page_obj.number|add:"1" <= paginator.num_pages  %}
            <li><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&page={{ page_obj.number|add:"1" }}">{{ page_obj.number|add:"1" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"2" <= paginator.num_pages %}
            <li><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&page={{ page_obj.number|add:"2" }}">{{ page_obj.number|add:"2" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"2" <= paginator.num_pages|add:"-2" %}
            <li><span>...</span></li>
            <li><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% elif page_obj.number|add:"1" <= paginator.num_pages|add:"-2" %}
            <li><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% endif %}
            {% elif 'sort' in request.GET %}
            {% if page_obj.number >= 5 %}
            <li><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&sort={{request.GET.sort}}&page=1">1</a></li>
            <li><span>...</span></li>
            {% elif page_obj.number == 4 %}
            <li><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&sort={{request.GET.sort}}&page=1">1</a></li>
            {% endif %}
            {% if page_obj.number|add:"-2" >= 1  %}
            <li><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&sort={{request.GET.sort}}&page={{ page_obj.number|add:"-2" }}">{{ page_obj.number|add:"-2" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"-1" >= 1  %}
            <li><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&sort={{request.GET.sort}}&page={{ page_obj.number|add:"-1" }}">{{ page_obj.number|add:"-1" }}</a></li>
            {% endif %}
            <li class="active"><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&sort={{request.GET.sort}}&page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            {% if page_obj.number|add:"1" <= paginator.num_pages  %}
            <li><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&sort={{request.GET.sort}}&page={{ page_obj.number|add:"1" }}">{{ page_obj.number|add:"1" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"2" <= paginator.num_pages %}
            <li><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&sort={{request.GET.sort}}&page={{ page_obj.number|add:"2" }}">{{ page_obj.number|add:"2" }}</a></li>
            {% endif %}
            {% if page_obj.number|add:"2" <= paginator.num_pages|add:"-2" %}
            <li><span>...</span></li>
            <li><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&sort={{request.GET.sort}}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% elif page_obj.number|add:"1" <= paginator.num_pages|add:"-2" %}
            <li><a href="?year={{request.GET.year}}&month={{request.GET.month}}&day={{request.GET.day}}&sort={{request.GET.sort}}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% endif %}
            {% endif %}
        </ul>
    </div>
</body>
{% endblock %}
</html>