<html>
{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}
<body>
<h4>About LA Times Search Tool</h4>
The Los Angeles Times Photographic Index Search tool allows users to search an index of images contained in UCLA's LA Times Photographic Archive. This tool <strong><u>does not</u></strong> provide users with digital surrogates of these images. Instead it provides an index of these images, which can be viewed in person at UCLA's Special Collections. <a href="/contact">Contact Information for UCLA Special Collections</a>
<h3> Sections </h3>
<h4> Keyword Search </h4>
<p>Keyword search allows for searching of a keyword. It will search against all fields a record (Subject Name, Subject Description, Photo Description, Box Number, Quantity, Negative Number, Month, Day and Year). It also provides the user with facets of Box Number, Negative Number, and Year. <br>
NOTE: When searching for items with apostrophes (') search with space
instead of apostrophe</p>
<h4> Advanced Search </h4>
Advanced search allows for searching of a keyword, year and box number. The keyword will search against all fields a record (Subject Name, Subject Description, Photo Description, Box Number, Quantity, Negative Number, Month, Day and Year). It also provides the user with facets of Negative Number, Subject Name and Subject Description.
<h4> Browse </h4>
Browse allows users to view all items in the LA Times photographic index. This browse functionality is aided sorting by clicking on headings. It also allows for these records to be narrowed down by a search query, which searches against all fields a record (Subject Name, Subject Description, Photo Description, Box Number, Quantity, Negative Number, Month, Day and Year).  
</body>
{% endblock %}