<html>


<h1>LATimes Search Tool</h1>
</a> 


<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="container">

<b>Keyword Search</b><br>
<form name = "search" action = 'http://127.0.0.1:8000/keyword' method= "get" id = 'search' class="form-inline">
<div class="form-group">
<input type="text" value='' id = 'keyword' name = 'keyword' placeholder='Keyword'/>
<input type="submit" />
</div>
</form>


</div>