<html>
{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}

<body>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="container">

<form name = "search" action = 'http://127.0.0.1:8000/keyword' method= "get" id = 'search' class="form-inline">
<div class="form-group">
<input type="text" value='' id = 'keyword' name = 'keyword' placeholder='Keyword'/>
<input type="submit" />
</div>
</form>
<font size="3" color="blue"><b>Results: </b>{{cards |length }} </font><br><br>
{% for o in cards %}
<table>
<tr>
<td style="width:185px;">Subject Name:</td><td>{{o.SubjectName}}</td></tr>
<td style="width:185px;">Subject Description:</td><td>{{o.SubjectDescription}}</td></tr>
<td style="width:185px;">Photo Description:</td><td>{{o.PhotoDescription}}</td></tr>
<td style="width:185px;">Box Number:</td><td><a href="http://127.0.0.1:8000/box?box={{o.BoxNumber}}">{{o.BoxNumber}}</td></tr>
<td style="width:185px;">Quantity:</td><td>{{o.Quantity}}</td></tr>
<td style="width:185px;">Negative Number:</td><td>{{o.Negative}}</td></tr>
<td style="width:185px;">Date:</td><td><a href="http://127.0.0.1:8000/date?year={{o.Year}}&month={{o.Month}}&day={{o.Day}}">{{o.date}}</td></tr>

</table><br>
{% endfor %}
</body>
{% endblock %}
</html>